body {
    font-family: sans-serif;
    font-size: 10pt;
}

img {
    float: left;
}

h1,h2 {
}

p.tip {
    font-size: 9pt;    
}

div#averages {
}

div#party_average {
    width: 600px;
    margin-right: 20px;
    float: left;
}

div#block_average {
    width: 300px;
    margin-right: 20px;
    float: left;
}

div#polls {
    width: 250px;
    float: left;
}

table {
    width: 100%;
    border: 1px solid #ddd;
}

table td,th {
    padding: 4px 8px;
}

tr:hover {
    background-color: #eee;
}

caption {
    font-weight: bold;
    margin-bottom: 5px;
}

div#results {
    margin-top: 40px;
}

div#results_chart {
    float: left;
}

div#results_table {
    margin: 0 10px;
    float: left;
}

