body {
    font-family: sans-serif;
    font-size: 10pt;
}

img {
    float: left;
}

h1,h2 {
}

div#averages {
  width: 1300px;
}

div#party_average {
    width: 500px;
    margin-right: 20px;
    float: left;
}

div#block_average {
    width: 250px;
    margin-right: 20px;
    float: left;
}

div#polls {
    width: 500px;
    float: left;
}

table {
    width: 100%;
    border: 1px solid #ddd;
    font-size: 9pt;
}

th {
  font-weight: bold;
  text-align: center;
}

td {
  text-align: right;
}

td, th {
    padding: 4px 8px;
    border: 1px solid #ddd;
}

tr:hover {
    background-color: #eee;
}

caption {
    font-weight: bold;
    margin-bottom: 5px;
}

div#results {
  width: 1300px;
  margin-top: 40px;
}

div#results_chart {
    float: left;
}

div#results_table {
    margin: 0 10px;
}

