<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>Opinion 2010</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <h1>Opinion 2010</h1>
    <ul>
        <li><strong>2009-07-01:</strong>
            Premiär för Opinion2010.se, lagom till Almedalsveckan!
        </li>
    </ul>

    <div id="averages">
        <div id="party_average">
            <img src="{{ partyAverage }}" alt=""/>
        </div>
        <div id="block_average">
            <img src="{{ block }}" alt=""/>
            <img src="{{ seats }}" alt=""/>
        </div>
        <div id="polls">
            <table cellspacing="0">
                <caption>Mätningar</caption>
                {% for poll in polls %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ poll.institute.name }}</td>
                    <td><a href="" target="_blank">{{ poll.publish_date|date:"Y-m-d" }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div style="clear: both;"></div>
    </div>


    <div id="results">
        <div id="results_chart">
            <img id="result" src="{{ partyResult }}" alt=""/>
        </div>
        <div id="results_table">
            <table cellspacing="0">
                <caption>Mätresultat</caption>
                <tr>
                    <td></td>
                    <td colspan="100"><strong>Mätning</strong></td>
                </tr>
                <tr>
                    <td><strong>Parti</strong></td>
                    {% for poll in polls %}
                    <td><strong>{{ forloop.counter }}</strong></td>
                    {% endfor %}
                </tr>
                {{ party_percentages_html }}
            </table>
        </div>
    </div>
</body>
</html>