<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>Opinion 2010</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <div id="header">
    <h1>Opinion 2010</h1>
    <h3>Opinionsläget inför riksdagsvalet 2010</h3>
  </div>
  <div id="main">
    <div class="row">
      <div class="col1">
        <img src="{{ partyAverage }}" alt="" width="500" height="400" />
      </div>
      <div class="col2">
        <img src="{{ block }}" alt="" width="250" height="200"/>
        <img src="{{ seats }}" alt="" width="250" height="200"/>
      </div>
      <div style="clear: both">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col1">
        <img src="{{ partyResult }}" alt="" width="500" height="400" />
      </div>
      <div class="col2">
        <table id="polls" cellspacing="0" cellpadding="0">
            <caption>Mätningar</caption>
            <tr>
                <th></th>
                <th>Institut</th>
                <th>Publicerad</th>
            </tr>
            {% for poll in polls %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="left">{{ poll.institute.name }}</td>
                <td class="right">{{ poll.publish_date|date:"Y-m-d" }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
      <div style="clear: both">&nbsp;</div>
    </div>
    <div class="row">
      <table cellspacing="0">
          <caption>10 senaste mätningarna</caption>
          <tr>
              <th></th>
              {% for poll in polls %}
              <th>{{ forloop.revcounter }}</th>
              {% endfor %}
              <th>Snitt</th>
          </tr>
          {{ party_percentages_html }}
      </table>
    </div>
  </div>
  <div id="sidebar">
    <!--h2>Prognos</h2>
    <div id="prediction">
      Maktskifte  
    </div-->
    <h2>Nyheter</h2>
    <ul id="news">
      <li>Nya mätningar från Sifo och Skop.<br/><span class="date">2009-09-13</span></li>
      <li>Premiär för Opinion2010.se!<br/><span class="date">2009-09-09</span></li>
    </ul>
  </div>
  <div id="footer">
    <em>
      <p>
        Opinion2010.se är en helt ideell samhällstjänst, utan partipolitisk anknytning.
      </p>
      <p>  
        Källmaterialet utgörs av vad respektive opinionsinstitut publicerar på webben,
        med reservation för misstag i hanteringen.
      </p>
      <p>
        Mandatfördelningen tar inte och kan inte ta hänsyn till eventuella utjämningsmandat,
        eftersom de styrs av det slutgiltiga valresultatet.
      </p>
      <p>
        Frågor kring tjänsten kan skickas till info@opinion2010.se.
      </p>
    </em>
  </div>
</body>
</html>